body {
	font-family: 'Open Sans Condensed'!important;

}

main {
	position: relative;
    top: 100px;
	border-right: 1px solid rgb(158, 158, 158);
}

.topbar {
	padding: 0 10px 0 0 !important;
}

.sidebar {
	height: 100%;
	width: 400px;
	position: fixed;
	z-index: 1;
	top: 10px;
	left: 0;
	background-color: rgb(145, 174, 192);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.1s;
	border-right: 3px solid #f1f1f1;
}

.sidebar a {
	transition: color 0.6s;
}


.sidebar a:hover {
	color: #383838;
	text-decoration: none;
}


.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: rgba(195, 195, 195, 0.486);
	color: white;
	padding: 10px 15px;
	border: 1px solid white;
	margin-left: 10px;
	position: fixed;
	z-index: 2;
}

.openbtn:hover {
	background-color: rgb(145, 174, 192);
}

.openbtnimg {
	width: 25px;
}


#mainContent {
	margin-left: 400px;
    transition: margin-left .3s;
}

input.flight {
	border-radius: 0 !important;
	width: 100% !important;
	border-style: none;
	text-align: center;
}

#submitbutton {
	border-radius: 0 !important;
	border-style: none;
	border-bottom: 2px solid white;
}

button.addButton {
	color: #007bff;
	font-size: 30px;
	margin-right: 7px;
	background-color: inherit;
	display: inline-block;
	border: none;
	line-height: 20px;
}



button.addButton:hover {
	color:rgb(56, 56, 56);
	transition: color .5s;
	cursor: pointer;
}

.planeicon {
	width: 20px;
}

div.flightDest, div.flightNo{
	display: inline-block;
}

div.flightNo {
	width: 80px;
}

div.flightDest {
	padding-left: 10px;
	border-left: 1px solid rgb(70, 70, 70);
}

a.logoutbtn {
	padding: 4px 30px;
	background-color: #fff;
	border-radius: 0!important;
	border-color: #c2c2c2;
	margin-left:5px;

}

a.logoutbtn:hover {
	background-color: #fff;
	border-style: dashed;
	border: 1px solid rgb(107, 107, 107);
}

.header {
	font-family: "Unica One"
}

img.header {
	width: 100%;
	margin: 20px 0 10px 0;

}

div.login {
	padding-left: 0;
}

a.link {
	font-size: 13px;
	margin-top: 5px;
	margin-left: 2px;
}

a.link:hover {
	text-decoration: none;
}

div.register {
	padding: 0px;
}

input.register {
	margin-bottom: 5px;
}

img.logo {
	width: 50px;
}

h4 {
	font-family: 'Open Sans Condensed'!important;
	padding-left: 10px;
	padding-bottom: 3px;
}

#mapdiv {
	position: relative;
	top: -40px;
	text-align: right;
}

div.eachmap {
	background-color: #ffffff;
}

.modal-backdrop {
    z-index: 1020;
}

h6 {
	display: inline;
	margin-right: 10px;
	font-size: 20px!important;
	vertical-align: middle;
}

div.mapcontainer {
	height: 440px;
	border-bottom: 2px solid grey;
}

div.mapdiv {
	height: 90%;
	min-height: 90%;
	padding: 0;
}

button.crossbutton {
	border-radius: 0!important;
	margin-top: 3px;
	margin-left: 10px;
	padding: 5px 10px;
}

form.flightdel {
	display: inline;
}

div.failedmaps {
	background-color: rgb(243, 119, 119);
	border-top: 1px solid white;
}