main {
	position: relative;
    top: 70px;
    border-right: 1px solid rgb(158, 158, 158);
}

.sidebar {
	height: 100%;
	width: 400px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(152, 185, 246);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.3s;
	border-right: 3px solid #f1f1f1;
}

.sidebar a {
	transition: color 0.6s;
}


.sidebar a:hover {
	color: #383838;
	text-decoration: none;
}


.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(195, 195, 195);
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: rgb(152, 185, 246);
}

.openbtnimg {
	width: 25px;
}


#mainContent {
	padding-left: 10px;
	margin-left: 400px;
    transition: margin-left .3s;
}

input.flight {
	border-radius: 0 !important;
	width: 100% !important;
	border-style: none;
	text-align: center;
}

#submitbutton {
	border-radius: 0 !important;
	border-style: none;
	border-bottom: 2px solid white;
}

button.addButton {
	color: #007bff;
	font-size: 30px;
	margin-right: 7px;
	background-color: inherit;
	display: inline-block;
	border: none;
	line-height: 20px;
}



button.addButton:hover {
	color:rgb(56, 56, 56);
	transition: color .5s;
	cursor: pointer;
}

.planeicon {
	width: 20px;
}

div.flightDest, div.flightNo{
	display: inline-block;
}

div.flightNo {
	width: 80px;
}

div.flightDest {
	padding-left: 10px;
	border-left: 1px solid rgb(70, 70, 70);
}